<div class="song-side__footer">
    <div class="footer__links">
        <ul class="footer__links--nav">
            <li class="links__nav--item">Giới Thiệu</li>
            <li class="links__nav--item">
                <div class="link-special">•</div>
            </li>
            <li class="links__nav--item">Liên Hệ</li>
            <li class="links__nav--item">
                <div class="link-special">•</div>
            </li>
            <li class="links__nav--item">Quảng Cáo</li>
            <br>
            <li class="links__nav--item">Góp Ý</li>
            <li class="links__nav--item">
                <div class="link-special">•</div>
            </li>
            <li class="links__nav--item">Thỏa Thuận Sử Dụng</li>
        </ul>
    </div>
</div>