<aside class="menu-side">
    <div class="menu-side-top">
        <h1>Mộng Mơ.mp3 <i class="fa-duotone fa-photo-film-music" ></i></h1>
    </div>
    <div class="sidebar-divide">
        <hr>
    </div>
    <div class="menu-side-mid">
        <nav>
            <ui>
                <li>
                    <i class="fa-solid fa-circle-o"></i>
                    <a href="">Khám phá</a>
                </li>
                <li>
                    <i class="fa-solid fa-square-poll-vertical"></i>
                    <a href="">#Chart</a>
                </li>
                <li>
                    <i class="fa-solid fa-radio-tuner"></i>
                    <a href="">Radio</a>
                </li>
                <li>
                    <i class="fa-solid fa-clipboard-list-check"></i>
                    <a href="">Theo dõi</a>
                </li>
            </ui>

        </nav>
    </div>
    <div class="sidebar-divide">
        <hr>
    </div>
    <div class="menu-side-end">
        <nav>
            <ui>
                <li>
                    <i class="fa-solid fa-music"></i>
                    <a href="">Nhạc mới</a>
                </li>
                <li>
                    <i class="fa-solid fa-icons"></i>
                    <a href="">Thể loại</a>
                </li>
                <li>
                    <i class="fa-light fa-star"></i>
                    <a href="">Top 100</a>
                </li>
                <li>
                    <i class="fa-solid fa-music"></i>
                    <a href="">MV</a>
                </li>
            </ui>
        </nav>
    </div>
</aside>