<header class="song-side__heading">
    <nav class="song-side__heading--left">
        <div class="song-side__heading--search">
            <form class="search__container" action="/searchsong">
                <div class="search-btn">
                    <i class="bi bi-search"></i>
                </div>
                <input class="hide-on-mobile-tablet" type="text" name="search_song" id="search-song"
                       placeholder="Nhập tên bài hát"/>
            </form>
        </div>
    </nav>
    <div class="song-side__heading--right">
        <a href="/auth/login"><i class="fa-solid fa-circle-user" ></i></a>
    </div>
</header>